<%= form_with(model: brewer, local: true) do |form| %>
  <% if brewer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brewer.errors.count, "error") %> prohibited this brewer from being saved:</h2>

      <ul>
      <% brewer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :brewer_name %>
  </div>

  <div class="field">
    <%= form.label :is_organic %>
    <%= form.check_box :is_organic, id: :brewer_is_organic %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website, id: :brewer_website %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :brewer_status %>
  </div>

  <div class="field">
    <%= form.label :ext_id %>
    <%= form.text_field :ext_id, id: :brewer_ext_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :brewer_description %>
  </div>

  <div class="field">
    <%= form.label :status_display %>
    <%= form.text_field :status_display, id: :brewer_status_display %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
