<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :location_address %>
  </div>

  <div class="field">
    <%= form.label :locality %>
    <%= form.text_field :locality, id: :location_locality %>
  </div>


  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode, id: :location_zipcode %>
  </div>

  <div class="field">
    <%= form.label :region %>
    <%= form.text_field :region, id: :location_region %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :location_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :location_longitude %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :location_phone %>
  </div>

  <div class="field">
    <%= form.label :country_iso_code %>
    <%= form.text_field :country_iso_code, id: :location_country_iso_code %>
  </div>

  <div class="field">
    <%= form.label :brewer_id %>
    <%= form.number_field :brewer_id, id: :location_brewer_id %>
  </div>
    <div class="field">
    <%= form.label :isClosed %>
    <%= form.number_field :isClosed, id: :location_isClosed %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
